@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-body: "iA Writer Quattro", sans-serif;
	--font-heading: "Space Grotesk", sans-serif;
	--font-mono: "Fira Code", monospace;
}
