---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

const posts = (await getCollection("posts")).filter((post) => !post.data.draft);
const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort();
---

<BaseLayout title="Tags" description="Tag List">
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
