---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found">
	<p>There is as yet insufficient data for a meaningful page.</p>
	<p>Try the <a href="/">home page</a> or browse <a href="/posts">the posts</a>.</p>
</BaseLayout>
