---
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title={SITE_TITLE} description="Home Page">
	<p>{SITE_DESCRIPTION}</p>
	<p><a href="/posts">Read posts →</a></p>
</BaseLayout>
