---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Last Question" description="Home Page">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/posts/${post.id}/`}>{post.data.title}</a>
          <p>{post.data.pubDate.toLocaleDateString()}</p>
          <p>{post.data.description}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
